.user-offers {
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.offers-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.offers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.offer-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
}

.offer-item:hover {
    background-color: #e8e8e8;
}

.clothing-details {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.clothing-info span {
    display: block;
    margin-bottom: 5px;
}

.clothing-price {
    font-weight: bold;
    margin-top: 10px;
}

.clothing-date {
    font-style: italic;
    margin-top: 10px;
}

.item-image-link img {
    max-width: 100%;
    width: 400;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.clothing-details .clothing-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.clothing-details .clothing-info span {
    font-size: 0.9em;
}

.clothing-details .clothing-date {
    font-size: 0.9em;
    color: #666;
}

.offer-item .delete-offers {
    list-style-type: none;
    background-color: red;
    color: white;
    max-width: 85px;
    padding: 14px 13px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 15px;
    align-items: center;
}
