.create-offer-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.clothing-details {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    width: 70%;
}

.clothing-details-title {
    text-align: center;
    margin-bottom: 10px;
}

.clothing-details-image {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.date-container {
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
}

.clothing-details-date {
    color: grey;
    padding: 5px 0;
}

.clothing-details-body {
    margin-top: 20px;
}

.clothing-details-info {
    font-size: 0.9rem;
    color: #333;
}

.clothing-details-info span {
    display: inline-block;
    margin-right: 20px;
}

.clothing-details-price {
    margin-top: 10px;
    font-weight: bold;
    color: #de4d4d;
}

.clothing-details-loading {
    text-align: center;
    font-size: 1.2rem;
    padding: 50px;
}


.create-offer-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.create-offer-button button {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.create-offer-button button:hover {
    transform: scale(1.05);
}
