* {
  margin: 0;
  padding: 0;
}

.profile-container{
  list-style-type: none;
  position: relative;
}

.navigation {
  background-color: #757575;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'Arial', sans-serif;
}

.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 30px;
  font-size: 1.5em
}

.nav-item button {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
}


.nav-item:last-child {
  margin-right: 0;
}

.link, .button {
  text-decoration: none;
  color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover, .button:hover {
  background-color: #555;
  color: #fff;
}

.active {
  color: white;
}


.profile-dropdown {
  position: absolute;
  background-color: #fff;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  display: none;
}


.profile-dropdown.active {
  display: block;
}


.profile-dropdown li{
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}
.profile-dropdown a{
  text-decoration: none;
  justify-content: center;
}

.profile-dropdown a:hover{
  color: rgb(255, 255, 255);
}

.homeImg {
  width : 150px;
  height: 100%;
  margin-left: 40px;
}


.nav-item {
  font-size: 1.2em;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item a:hover {
    color: #f39c12;
}
